@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --color-bg: hsl(217, 19%, 24%);
  --main-txt: hsl(217, 19%, 38%);
  --assets-color: hsl(218, 23%, 16%);
  --button-shadow: hsl(193, 38%, 86%);
  --button-primary: hsl(150, 100%, 66%);
}

.App {
  color: var(--main-txt);
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100vh;
  background-color: var(--color-bg);
  
}

div.dark {
  background-color: #000;
}
